@charset "utf-8";

*{
    box-sizing: border-box;
}

body{
    color: #747474;
    background-color: #F3F3F3;
    font-size:17px;
    overflow-x:hidden;
    font-family: 'Open Sans', sans-serif;
}

h1, h2{
    color: #161616;
}

.title{
    font-size: 45px;
}

