@charset "utf-8";

*{
    box-sizing: border-box;
}

body{
    color: #747474;
    background-color: #F3F3F3;
    font-size:17px;
    overflow-x:hidden;
    font-family: "Verdana", "Helvetica", "Arial", sans-serif;
}

a{
    color: rgba(22, 22, 22, 0.8);
}

h1, h2, h3{
    color: #161616;
}

.container{
    width:100%;
    max-width:960px;
    display:flex;
    flex-direction:column;
    align-items:center;
    margin:0 auto;  
}

.title{
    font-size: 32px;
    font-weight:700;
    display:flex;
    flex-direction:row;
    justify-content: center;
    height:70px;
    align-items:center;
    margin: 1.5rem 0;
}

.subnav ul{
    display:flex;
    flex-direction:row;
}

.subnav ul li a{
    padding:15px;
    text-decoration: none;
}

#bg-gray{
    background: rgba(0, 0, 0, 0.08);
    border-bottom:2px solid #EB4141;
}

span{
    color: #DEDEDE;
}

hr{
    border: 1px solid #DEDEDE;
    margin: 1em 0;
}

